body {
    background-color: #2a9d8f;
}

header {
    margin:auto;
    width: 758px;
    text-align: center;
    font-family: monospace;
    background-color:#e9c46a;
    border-radius: 15px;
}

.grid {
    width: 758px;
    height: 758px;
    background-color: #e9c46a;
    margin: auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.square {
    width: 250px;
    height: 250px;
    background-color: #264653;
}

.mole {
    background-image:url("mole.png");
    background-color: #6b705c;
    background-size: 250px 250px; 
}

.startStop {
    width: 375px;
    height: 60px;
    background-color: e9c46a;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e76f51;
    border-radius: 10px;
}

.start {
    margin: auto 25px;
    width: 150px;
    height: 50px;
    background-color: #2a9d8f;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
    font-size: large;
}

.stop {
    margin: auto 25px;
    width: 150px;
    height: 50px;
    background-color: #2a9d8f;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
    font-size: large;
}